header {
    text-align: center;
    background-color: darkred;
    color: white;
    margin: none;
    position: relative;
}

nav {
    display: none;
   
    background-color: darkred;
}

body {
    text-align: center;
    background-color: darkgrey;
}

footer {
    text-align: center;
    background-color: darkred;
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

#navcheck:checked~nav {
    display: block;
}

#navcheck {
    display: none;
}

label {
    font-size: 2em;
    position: absolute;
    left: 0px;
    top: 0px;
}

img {
    border-radius: 20px;
}

header img {
    display: none;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 20pt;
    padding: 5px;
}

ul a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

footer a:hover {
    text-decoration: underline;
    font-size: 20px;
}

#Markiplier, #Woke {
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    margin: 20px auto;
    background-color: white;
    display: block;
    width: 90%;
}

@media (min-width: 576px) {
    label {
        display: none;
    }

    nav {
        display: inline;
    }

    #Markiplier, #Woke {
        width: 90%;
    }

    header img {
        display: block;
        float: left;
        height: auto;
        width: 50px;
    }

    #title {
        width: 30%;
        text-align: center;
        display: inline;
    }
}

@media (min-width: 720px) {
    #Markiplier, #Woke {
        width: calc(60%);
    }

    nav {
        display: inline-block;
    }

    header img {
        width: 100px;
    }
}